@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.RouteLink("Transportadoras", "CarrierIndex", "")</li>
        <li>@Html.RouteLink("Classificações", "RatingIndex", "")</li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Minha-Conta/Sair" title="Sair" style="font-weight: bold;">Sair</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Criar Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Acessar Conta", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
