@model FreightManagement.ViewModels.CarrierPhoneNumberViewModel
@using (Html.BeginForm())
{
    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CarrierId)
    }

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="box-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.PhoneType, new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.PhoneType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @mask = "(99) 9999-9999?9" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <div class="row">
            <div class="col-md-5">
                <a href="/Transportadora?id=@Model.CarrierId" class="btn btn-default">Voltar</a>
            </div>

            <div class="col-md-5">
                <input type="submit" value="Salvar" class="btn btn-save" />
            </div>
        </div>

    </div>
}