@model IEnumerable<FreightManagement.ViewModels.CarrierViewModel>

@{
    ViewBag.Title = "Listagem de Transportadoras";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.Title:</h3>
        <a href="/Cadastrar-Transportadora" clas class="btn btn-sm btn-save pull-right">Cadastrar Transportadora</a>
    </div>

    <div class="box-header">
        <div class="row">
            @Html.Action("GetFormSearch", "Carrier")
        </div>
    </div>

    <div class="box-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TradingName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TradingName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            <a href="/Transportadora?id=@item.Id">
                                <img src="/Images/ver-detalhes.png" alt="Ver detalhes" title="Ver detalhes" />
                            </a>

                            <a href="/Editar-Transportadora?id=@item.Id" class="btn-img">
                                <img src="/Images/editar.png" alt="Editar" title="Editar" />
                            </a>

                            <a href="/Remover-Transportadora?id=@item.Id" class="btn-img">
                                <img src="/Images/remover.png" alt="Remover" title="Remover" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="box-footer clearfix">
        <div class="box-quantity">
            <h5 class="label label-default">Resultado(s): @Model.Count()</h5>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquerymask")
}
